[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[user]
	email = robinbohrer7@gmail.com
	name = AccursedGalaxy
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
