tmux/.config/tmux/plugins/
ags/.config/ags/assets/themes/sourceviewtheme-light.xml
ags/.config/ags/assets/themes/sourceviewtheme.xml
hypr/.config/hypr/current_wallpaper.txt
hypr/.config/hypr/hyprland/colors.conf
