.config/hypr/source/animations/active/active.conf
user_scripts/tts_stt/dusky_kokoro/trigger.sh
user_scripts/tts_stt/dusky_whisper/trigger.sh
user_scripts/tts_stt/dusky_parakeet/trigger.sh
.config/uwsm/env.d/gpu
.config/tmux/plugins/
.config/matugen/generated/
