/*style_2*/

@import url("../../.config/matugen/generated/waybar-colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: "Atkinson Hyperlegible Next";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: alpha(@surface, 0.6); 
    color: @on_surface;      
}

tooltip {
     border-radius: 12px;
     background-color: @surface_container;
     border: 1px solid @tertiary;
}

/* Modules: Base Style */
#clock,
#custom-countdown,
#backlight,
#battery,
#pulseaudio.output,
#pulseaudio.input,
#custom-snip,
#custom-clip,
#custom-taskmanager,
#custom-calculator,
#tray,
#idle_inhibitor,
#custom-power,
#custom-reboot,
#custom-quit,
#custom-lock,
#mpris,
#custom-notifs,
#custom-launcher {
    background: alpha(@surface_container, 0.8);
    padding: 2px 12px;
    margin: 4px;
    color: @on_surface;
    border-radius: 25px; 
    border: 3px solid transparent;
    transition: all 0.3s ease-out;
}

#cava {
    background: alpha(@surface_container, 0.8);
    padding: 2px 12px;
    margin: 4px;
    color: @on_surface;
    border-radius: 25px; 
    border: 3px solid transparent;
    transition: all 0.3s ease-out;
    font-family: "JetBrainsMono Nerd Font";
    letter-spacing: 2px;
}

/* Modules: App Launcher Strip */
#custom-firefox,
#custom-terminal,
#custom-code {
    background: alpha(@surface_container, 0.8);
    padding: 2px 12px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 4px;
    color: @on_surface;
    border: 3px solid transparent;
    border-radius: 0;
    transition: all 0.3s ease-out;
}

#custom-firefox {
    margin-left: 2px;
    border-radius: 25px 0 0 25px;
}

#custom-mpris-trigger {
    background: alpha(@surface_container, 0.8);
    padding: 2px 12px;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: @on_surface;
    border: 3px solid transparent;
    border-radius: 0 25px 25px 0;
    transition: all 0.3s ease-out;
}

#custom-files {
    background: alpha(@surface_container, 0.8);
    padding: 2px 12px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 4px;
    color: @on_surface;
    border: 3px solid transparent;
    border-radius: 0;
    transition: all 0.3s ease-out;
}

/* Modules: Hover Effects */
#backlight:hover,
#battery:hover,
#cava:hover,
#clock:hover,
#mpris:hover,
#pulseaudio.output:hover,
#pulseaudio.input:hover,
#custom-snip:hover,
#custom-firefox:hover,
#custom-terminal:hover,
#custom-code:hover,
#custom-taskmanager:hover,
#custom-calculator:hover,
#custom-mpris-trigger:hover,
#custom-files:hover,
#idle_inhibitor:hover,
#custom-notifs:hover,
#custom-clip:hover {
    color: @secondary;
    background: alpha(@on_secondary, 0.8); 
    border-color: alpha(@secondary_container, 0.8);
}

#custom-launcher:hover {
    color: @tertiary;
    background: alpha(@on_tertiary, 0.8);
    border-color: alpha(@tertiary_container, 0.8);
}

#custom-power:hover,
#custom-reboot:hover,
#custom-quit:hover,
#custom-lock:hover {
    color: @error;
    background: alpha(@on_error, 0.8);
    border-color: alpha(@error_container, 0.8);
}

#custom-countdown {
    background: alpha(@primary_fixed_dim, 0.8); 
    color: @surface;
}

#pulseaudio.muted {
    background: alpha(@secondary_fixed_dim, 0.8); 
    color: @surface;
}

#custom-power {
    padding: 0px 12px 0px 9px;
}

#keyboard-state {
    background: transparent;
}

#keyboard-state label.locked {
    background: alpha(@primary_fixed_dim, 0.8); 
    color: @surface;
    padding: 0px 12px;
    margin: 4px 0px;
    border-radius: 25px;
}

#taskbar {
    background: alpha(@surface_container, 0.8);
    padding: 0 15px;
    margin: 4px;
    border: transparent;
    border-radius: 25px;
}

#taskbar button {
    background: transparent;
    padding: 0 8px;
    margin: 0 2px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
    border-radius: 4px;
}

#taskbar button:hover {
    background: alpha(@secondary_container, 0.8);
    border-bottom-color: alpha(@primary, 0.8);
}

#taskbar button.active {
    background: alpha(@secondary_container, 0.8);
    border-bottom-color: alpha(@tertiary, 0.8);
}